/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  border: solid black 2px;
}
#WholePage {
  width: 100%;
  margin: 0 2%;
  display: flex;
  font-size: 62.5%;
}
@media (max-width: 500px) {
  #WholePage {
    display: flex;
    flex-direction: column;
  }
}
p,
li {
  font-size: 1.5rem;
  line-height: 1.25;
  font-family: 'Source Sans Pro', sans-serif;
}
h2 {
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
  text-decoration: underline;
  color: #440000;
}
header {
  width: 45%;
  padding: 5vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F78A8A;
}
@media (max-width: 500px) {
  header {
    width: 100%;
  }
}
header #Nav nav a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  padding-bottom: 5vh;
}
header .headerImage {
  height: 45vh;
  width: 70%;
}
header .headerImage img {
  height: 100%;
  width: 100%;
  border: solid red 10px;
}
header .Title {
  width: 100%;
  padding: 5% 15%;
}
header .Title h1 {
  font-size: 5rem;
}
header .Title p {
  font-size: 3rem;
  color: #440000;
}
header .Bio {
  width: 70%;
  margin-bottom: 5vh;
}
.GreaterContent {
  width: 100%;
  padding: 5vh 0;
  display: flex;
  flex-direction: column;
}
.GreaterContent .ContentContainer {
  width: 100%;
  padding: 0 5%;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
}
.GreaterContent .ContentContainer .HeaderContainer {
  display: flex;
  margin-bottom: 2vh;
}
.GreaterContent .ContentContainer .HeaderContainer .Icon {
  width: 15%;
}
.GreaterContent .ContentContainer .HeaderContainer .ContentTitle {
  width: 80%;
}
.GreaterContent .InfoContainer h3 {
  font-size: 2.25rem;
  margin-bottom: 2vh;
}
.GreaterContent .InfoContainer .SubHead {
  font-size: 2rem;
}
.GreaterContent .InfoContainer li {
  font-size: 1.75rem;
}
